
canvas {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right top,
      #7cadee,
      #9be08d,
      #dde750,
      #361680,
      #15b415
    );
  }
  body,
  html {
    height: 100%;
    margin: 0;
  }